<h1>Travel Bucketlist</h1>

<h3>Where do you want to go next?</h3>

<ul>
  {{#each tasks}}
  	<li>
  	   <p>ID: {{id}}</p>
       <p>Flight: {{task}}</p>
  	</li>
  {{/each}}
</ul>

<form action="/" method="POST">
	<textarea type="text" name="task"></textarea>

	<button type="submit">Submit</button>
</form>
