<h1>Travel Bucketlist</h1>
<h2>Add a destination of where you have been or want to go!</h2>

<h2>Places I've Been</h2>
<ul>
  {{#each travel}}
  {{/each}}
</ul>

<h2>Places I Want to Go</h2>
<ul>

</ul>

<h2>Add a City</h2>
<form class="create-form">

  <div class="form-group">
    <label for="city">City Name:</label>
    <input type="text" id="city" name="name">
  </div>


  <button type="submit">Add City</button>
</form>
